/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
  margin-left: 20%;
  margin-right: 20%;
}

.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: rgb(2, 161, 2);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #181717;
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-failure {
    --mdc-snackbar-container-color: #ce3203;
    --mat-mdc-snack-bar-button-color: #181717;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}