

header {
  display: block;
  height: 60px;
  box-shadow: 0px 5px 25px rgb(197, 194, 194);
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: rgb(225, 231, 236);
}

.header-container {
  display: flex;
  align-items: center;
}